
<div class="page-header">
  <h1> {{ title }}</h1>
</div>
<!-- div.panel>table.table.table-striped>(thead>tr>th*2)+(tbody>tr*4>td*2) -->
<div class="panel">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Description</th>
      <th>Done</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Buy flowers</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Get shoes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Collect tickets</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Call Joel</td>
      <td>No</td>
    </tr>
    </tbody>
  </table>
</div>
